<div class="container flex items-center">
  <div class="wrapper flex gap-24 px-5 w-full h-full">
    <div class="sidebar w-[30%] relative h-full mt-2 py-2">
      <img src="assets/bg-sidebar-desktop.svg" class="h-full" alt="" />
      <div
        class="absolute z-20 top-10 left-7 flex flex-col gap-4 items-center justify-start"
      >
        <div class="flex gap-4 items-center">
          <div>
            <div
              class="border border-white rounded-full w-8 h-8 flex justify-center items-center bg-secondary text-white"
            >
              <span>1</span>
            </div>
          </div>
          <div>
            <p class="text-sm uppercase text-coolGray">Step 1</p>
            <p class="-mt-2 uppercase text-white font-medium">Your Info</p>
          </div>
        </div>
      </div>
    </div>
    <div class="main flex-1">
      <div class="main-top mt-10">
        <h1 class="text-3xl font-bold text-primary mb-1">Personal Info</h1>
        <p class="text-sm text-coolGray">
          Please provide your name, email address, and phone number
        </p>
      </div>
      <div class="main-bottom mt-4 text-primary font-medium">
        <form [formGroup]="multiStepForm">
          <app-inputs
            [type]="'text'"
            [label]="'Name'"
            [control]="multiStepForm.controls['name']"
            [labelClass]="'text-[14px] text-primary -mb-1'"
            [class]="'border p-2 rounded-[8px]  text-[14px] text-primary'"
            [placeholder]="'Enter your name'"
            [errorMessage]="'This field is required'"
          />
          <div class="-mt-2">
            <app-inputs
              [type]="'email'"
              [label]="'Email Address'"
              [control]="multiStepForm.controls['email']"
              [labelClass]="'text-[14px] text-primary  -mb-1'"
              [class]="'border p-2 rounded-[8px] mt-1 text-[14px] text-primary'"
              [placeholder]="'Enter your email address'"
              [errorMessage]="'This field is required'"
            />
          </div>
          <div class="-mt-2">
            <app-inputs
              [type]="'number'"
              [label]="'Phone Number'"
              [control]="multiStepForm.controls['phone']"
              [labelClass]="'text-[14px] text-primary  -mb-1'"
              [class]="'border p-2 rounded-[8px] mt-1 text-[14px] text-primary'"
              [placeholder]="'e.g. +1 234 567 890'"
              [errorMessage]="'This field is required'"
            />
          </div>
          <div class="flex justify-end -mt-5">
            <app-button
              [label]="'Next Step'"
              [type]="'button'"
              (click)="nextStep()"
              [class]="
                'w-[100px] p-2 mt-4 text-white text-sm bg-primary rounded-[8px] hover:bg-secondary hover:scale-[1.01] focus:outline-none'
              "
            />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
